html {
  background-color: rgb(146, 105, 92);
  font-family: sans-serif;
}

#map {
  background-color: blanchedalmond;
  width: 90%;
  height: 20rem;
  border: 1px solid #ccc;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  text-align: center;
  margin: 2rem auto;
}

#button-submit-1 {
  background-color: grey;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
